<h2>Reenviar instruções para desbloquear conta</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Reenviar instruções para desbloquear conta" %></div>
<% end %>

<%= render "links" %>