<h2>Relatório#árbitro</h2>
<div class="clear"></div>
<hr />
<div class="grid_6">
  <h2><u>Informações do Árbitro</u></h2>
  <p>
    <%= image_tag @arbitro.photo.url, :class => "image" if @arbitro.photo? %>
  </p>
  <p>
    <b>Cursos de arbitragem:</b>
    <%= @arbitro.cursos_de_arbitragem %>
  </p>

  <p>
    <b>Ano do curso de arbitragem:</b>
    <%= @arbitro.ano_do_curso_de_arbitragem.strftime("%Y") %>
  </p>
</div>
<div class="grid_6">
	<h2><u>Informações Pessoais</u></h2>
  <p>
    <b>Nome:</b>
    <%= @arbitro.nome %>
  </p>

  <p>
    <b>Data de nascimento:</b>
    <%= @arbitro.data_de_nascimento.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <b>Email:</b>
    <%= @arbitro.email %>
  </p>

  <p>
    <b>Telefone:</b>
    <%= @arbitro.telefone %>
  </p>

  <p>
    <b>Celular:</b>
    <%= @arbitro.celular %>
  </p>

  <p>
    <b>Endereço completo:</b>
    <%= "#{@arbitro.rua}, #{@arbitro.numero}, #{@arbitro.bairro}, #{@arbitro.cidade}, #{@arbitro.estado} - #{@arbitro.cep}" %>
  </p>

  <p>
    <b>RG:</b>
    <%= @arbitro.rg %>
  </p>

  <p>
    <b>CPF:</b>
    <%= @arbitro.cpf %>
  </p>
</div>
<div class="clear"></div>