<%= form_for @tecnico, :html => { :multipart => true} do |f| %>
  <%= error_messages_for @tecnico %>
  <div class="row">
    <div class="span4">
      <h2>Informações do Árbitro</h2>
      <div class="field">
        <b><%= f.label :photo, "Foto:" %></b><br />
        <%= f.file_field :photo %>
      </div>
      <div class="field">
        <%- unless @tecnico.new_record? || !@tecnico.photo? -%>
          <%= image_tag @tecnico.photo.url, :class => "image" %>
          <%= f.check_box :image_delete %> <%= f.label "Apagar imagem?" %> <b>
        <%- end -%>
      </div>
      <div class="field" style="margin-top: 20px;">
          <%= f.label :intituicao_de_ensino, "Instituição de Ensino" %>
          <%= f.text_field :intituicao_de_ensino %>
        </div>
        <div class="field">
          <%= f.label :cref, "CREF" %>
          <%= f.text_field :cref %>
        </div>
    </div>
    <div class="span4">
      <h2>Informações Pessoais</h2>
      <div class="field">
          <%= f.label :nome %>
          <%= f.text_field :nome, :placeholder => "Nome" %>
        </div>
        <div class="field">
          <%= f.label :data_de_nascimento %>
          <%= f.date_select :data_de_nascimento, :order => [:day, :month, :year], :start_year => 1930,
                            :prompt => { :day => 'Dia', :month => 'Mês', :year => 'Ano' } %>
        </div>
        <div class="field">
          <%= f.label :rg, "RG" %>
          <%= f.text_field :rg, :placeholder => "RG" %>
        </div>
        <div class="field">
          <%= f.label :cpf, "CPF" %>
          <%= f.text_field :cpf, :placeholder => "CPF" %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, :placeholder => "Email" %>
        </div>
      </div>
      <div class="span4" style="margin-top: 42px;">
        <div class="field">
          <%= f.label :telefone %>
          <%= f.text_field :telefone, :placeholder => "Telefone" %>
        </div>
        <div class="field">
          <%= f.label :celular %>
          <%= f.text_field :celular, :placeholder => "Celular" %>
        </div>
        <div class="field">
          <%= f.label :rua %>
          <%= f.text_field :rua, placeholder: "Rua" %>
        </div>
        <div class="field">
          <%= f.label :numero, "Número" %>
          <%= f.number_field :numero, :min => 0, placeholder: "Número" %>
        </div>
        <div class="field">
          <%= f.label :complemento, "Complemento" %>
          <%= f.text_field :complemento, :placeholder => "Complemento" %>
        </div>
        <div class="field">
          <%= f.label :bairro %>
          <%= f.text_field :bairro, placeholder: "Bairro" %>
        </div>
        <div class="field">
          <%= f.label :cidade %>
          <%= f.text_field :cidade, placeholder: "Cidade" %>
        </div>
        <div class="field">
          <%= f.label :Estado %>
          <%= f.text_field :estado, placeholder: "Estado" %>
        </div>
        <div class="field">
          <%= f.label :cep, "CEP" %>
          <%= f.text_field :cep, placeholder: "CEP" %>
        </div>
    </div>
  </div>
  <br />
  <div class="well">
    <div style="margin-left: 380px;">
      <%= f.submit "Enviar", :class => "btn" %>
    </div>
  </div>
  <%= f.hidden_field :user_id %>
<% end %>

<script type="text/javascript">
jQuery(function($){
   $("#tecnico_cpf").mask("999.999.999-99");
   $("#tecnico_telefone").mask("(99) 9999-9999");
   $("#tecnico_celular").mask("(99) 9999-9999");
   $("#tecnico_cep").mask("99999-999");
});
</script>