<h1>Lista de Árbitros</h1>
<div class="well">
    <h2>Busca</h2>
    <%= form_tag arbitros_path, :method => :get do %>
        <%= search_field_tag :search, "",
                             :placeholder => "Digite sua busca",
                             :class => "input-large search-query", :style => "width: 400px;" %>
        <%= submit_tag "Buscar", :class => "btn" %> 
    <% end %>
</div>
<table class="table">
  <tr>
    <th>Nome</th>
    <th>Data de nascimento</th>
    <th>Email</th>
    <th>Telefone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @arbitros.each do |arbitro| %>
  <tr>
    <td><%= arbitro.nome %></td>
    <td><%= arbitro.data_de_nascimento.strftime("%d-%m-%Y") %></td>
    <td><%= arbitro.email %></td>
    <td><%= arbitro.telefone %></td>
    <td><%= link_to 'Exibir', arbitro, :class => "btn btn-primary btn-mini" %></td>
    <td><%= link_to 'Editar', edit_arbitro_path(arbitro), :class => "btn btn-warning btn-mini" %></td>
    <td><%= link_to 'Apagar', arbitro, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger btn-mini" %></td>
  </tr>
<% end %>
</table>
<div class="offset4">
    <%= will_paginate(@arbitros, :class => "pagination btn-mini", :previous_label => "« Anterior", :next_label => "Próxima »") %>
</div>
<br />

<%= link_to 'Adicionar Arbitro', new_arbitro_path, :class => "label label-info" %>
