<%= show_notice(notice) %>
<div class="span10">
  <h1>Informações Detalhadas</h1>
  <div class="row well"> 
    <div class="span4">
      <h2>Informações do Árbitro</h2>
      <p>
        <b>Cursos de arbitragem:</b>
        <%= @arbitro.cursos_de_arbitragem %>
      </p>

      <p>
        <b>Ano do curso de arbitragem:</b>
        <%= @arbitro.ano_do_curso_de_arbitragem.strftime("%Y") %>
      </p>
    </div>
    <div class="span4">
      <h2>Informações Pessoais</h2>
      <p>
        <b>Nome:</b>
        <%= @arbitro.nome %>
      </p>

      <p>
        <b>Data de nascimento:</b>
        <%= @arbitro.data_de_nascimento.strftime("%d-%m-%Y") %>
      </p>

      <p>
        <b>Email:</b>
        <%= @arbitro.email %>
      </p>

      <p>
        <b>Telefone:</b>
        <%= @arbitro.telefone %>
      </p>

      <p>
        <b>Celular:</b>
        <%= @arbitro.celular %>
      </p>

      <p>
        <b>Endereço completo:</b>
        <%= @arbitro.endereco_completo %>
      </p>

      <p>
        <b>RG:</b>
        <%= @arbitro.rg %>
      </p>

      <p>
        <b>CPF:</b>
        <%= @arbitro.cpf %>
      </p>
  </div>
</div>

<%= link_to 'Editar', edit_arbitro_path(@arbitro), :class => "label label-warning" %> |
<%= link_to 'Voltar', arbitros_path, :class => "label label-inverse" %>
</div>

