<%= form_for @atleta, :html => { :multipart => true} do |f| %>
  <%= error_messages_for @atleta %>

  <div class="row">
    <div class="span4">
      <h2>Informações do Atleta</h2>
      <div class="field">
        <b><%= f.label :photo, "Foto:" %></b><br />
        <%= f.file_field :photo %>
      </div>
      <div class="field">
        <%- unless @atleta.new_record? || !@atleta.photo? -%>
          <%= f.check_box :image_delete %> <%= f.label "Apagar imagem:" %> <b><%= @atleta.photo_file_name %></b>?
        <%- end -%>
      </div>
      <div class="field" style="margin-top: 20px;">
        <%= f.label :codigo, "Código*" %>
        <%= f.text_field :codigo, :placeholder => "Código" %>
      </div>
      <div class="field">
        <%= f.label :entidade_filiada %>
        <%= f.text_field :entidade_filiada, :placeholder => "Entidade Filiada" %>
      </div>
      <div class="field">
        <%= f.label :ranking %>
        <%= f.number_field :ranking, :placeholder => "Ranking" %>
      </div>
      <div class="field">
        <%= f.label :categoria %>
        <%= f.select(:categoria, @categorias,
                     :prompt => "Selecione a categoria") %>
      </div>
      <div class="field">
        <%= f.label "Modalidade" %>
        <ul>
          <% @modalidades.each do |m| %>
            <li><%= check_box_tag "atleta[modalidade_ids][]", m.id, @atleta.modalidades.include?(m) %> <%= m.tipo %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span4">
      <h2>Informações Pessoais</h2>
      <div class="field">
        <%= f.label :nome, "Nome*" %>
        <%= f.text_field :nome, :placeholder => "Nome" %>
      </div>
      <div class="row-fluid">
        <div class="span5">
          <%= f.label :data_de_nascimento, "Data de nascimento*" %>
          <%= f.date_select(:data_de_nascimento, :start_year => 70.years.ago.year, :end_year => Date.today.year,
                            :prompt => { :day => 'Dia', :month => 'Mês', :year => 'Ano' },
                            :order => [:day, :month, :year]) %></div>
      </div>
      <div class="field">
        <%= f.label :nome_do_pai %>
        <%= f.text_field :nome_do_pai, :placeholder => "Nome do pai" %>
      </div>
      <div class="field">
        <%= f.label :nome_da_mae, "Nome da mãe*" %>
        <%= f.text_field :nome_da_mae, :placeholder => "Nome da mãe" %>
      </div>
      <div class="field">
        <%= f.label :email, "Email*" %>
        <%= f.text_field :email, :placeholder => "Email" %>
      </div>
      <div class="field">
        <%= f.label :rg, "RG*" %>
        <%= f.text_field :rg, :placeholder => "RG" %>
      </div>
      <div class="field">
        <%= f.label :cpf, "CPF*" %>
        <%= f.text_field :cpf, :placeholder => "CPF" %>
      </div>
      <div class="field">
        <%= f.label :telefone %>
        <%= f.text_field :telefone, :placeholder => "Telefone" %>
      </div>
      <div class="field">
        <%= f.label :celular, "Celular*" %>
        <%= f.text_field :celular, :placeholder => "Celular" %>
      </div>
    </div>
    <div class="span4">
      <h2>Endereço</h2>
      <div class="field">
        <%= f.label :rua, "Rua" %>
        <%= f.text_field :rua, :placeholder => "Rua" %>
      </div>
      <div class="field">
        <%= f.label :numero, "Número" %>
        <%= f.number_field :numero, :min => 0, :placeholder => "Número" %>
      </div>
      <div class="field">
        <%= f.label :bairro, "Bairro" %>
        <%= f.text_field :bairro, :placeholder => "Bairro" %>
      </div>
      <div class="field">
        <%= f.label :cidade %>
        <%= f.text_field :cidade, :placeholder => "Cidade" %>
      </div>
      <div class="field">
        <%= f.label :estado %>
        <%= f.text_field :estado, :placeholder => "Estado" %>
      </div>
      <div class="field">
        <%= f.label :cep, "CEP" %>
        <%= f.text_field :cep, :placeholder => "CEP" %>
      </div>
    </div>
  </div>
  <br />
  <div class="well">
    <div style="margin-left: 380px;">
      <%= f.submit "Enviar", :class => "btn" %>
    </div>
  </div>
  <%= f.hidden_field :user_id %>
<% end %>

<script type="text/javascript">
jQuery(function($){
   $("#atleta_cpf").mask("999.999.999-99");
   $("#atleta_telefone").mask("(99) 9999-9999");
   $("#atleta_celular").mask("(99) 9999-9999");
   $("#atleta_cep").mask("99999-999");
});
</script>