<h1>Lista de Atletas</h1>
<div class="well">
    <h2>Busca</h2>
    <%= form_tag atletas_path, :method => :get do %>
        <%= search_field_tag :search, "",
                             :placeholder => "Digite sua busca",
                             :class => "input-medium search-query", :style => "width: 400px;" %>
        <%= submit_tag "Buscar", :class => "btn" %> 
    <% end %>
</div>

<table class="table">
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>Data de Nascimento</th>
    <th>Celular</th>
    <th>Nome da mãe</th>
    <th>Possiu foto?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @atletas.each do |atleta| %>
  <tr>
    <td><%= atleta.codigo %></td>
    <td><%= atleta.nome %></td>
    <td><%= atleta.data_de_nascimento.strftime("%d/%m/%Y") %></td>
    <td><%= atleta.celular %></td>
    <td><%= atleta.nome_da_mae %></td>
    <td>
      <% if atleta.photo? %>
      <label class="label label-success" style="padding-left: 35px; padding-top: 3px;">SIM</label>
      <% else %>
      <label class="label label-important" style="padding-left: 35px; padding-top: 3px;">NÃO</label>
      <% end -%>
    </td>
    <td><%= link_to 'Exibir', atleta, :class => "btn btn-primary btn-mini" %></td>
    <td><%= link_to 'Editar', edit_atleta_path(atleta), :class => "btn btn-warning btn-mini" %></td>
    <td><%= link_to 'Apagar', atleta, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger btn-mini" %></td>
  </tr>
<% end %>
</table>
<div class="offset4">
    <%= will_paginate(@atletas, :class => "pagination btn-mini", :previous_label => "« Anterior", :next_label => "Próxima »") %>
</div>
<br />
<div>
    <p>
      <%= link_to 'Adicionar Atleta', new_atleta_path,  :class => "label label-info" %> | 
      <%= link_to "Relatório de Atletas", relatorio_atletas_path, :class => 'btn btn-success' %>
    </p>
</div>